GOOGLE_CLIENT_ID="1762345657142365-dnlawjknbduafbdghaw.apps.googleusercontent.com"
JWT_SECRET="jhdavjdb2uybt1u2tbn3.jkdwnajkdhnmkj21gjkh3g1uk2gf3jk1vdkjhasnghd.wawdabdnjahgnbdjkhawgvdghjkavf"
POSTGRES_URL_NON_POOLING="postgres://postgres:hhei12h876g@192.168.0.1:5432/databaseName"
POSTGRES_USER="postgres"
POSTGRES_HOST="192.168.0.1"
POSTGRES_PORT="5432"
POSTGRES_PASSWORD="hhei12h876g"
POSTGRES_DATABASE="databaseName"
GMAIL_PASS="aaaa xxxx ssss dddd"
CORS_ORIGIN="http://localhost:8080"