html {
  overflow-y: auto;
}
.logo {
  will-change: filter;
  transition: filter 300ms;
  border-radius: 10%; /* This makes the image round */
  object-fit: cover; /* This ensures the image covers the frame without distortion */
}
.logo:hover {
  filter: drop-shadow(0 0 1em yellow);
}

.primary-color {
  color: rgb(var(--v-theme-primary));
}
.secondary-color {
  color: rgb(var(--v-theme-secondary));
}
.tertiary-color {
  color: rgb(var(--v-theme-tertiary));
}
.background-color {
  background-color: rgb(var(--v-theme-background));
}

.default-cursor {
  cursor: default;
}

.buttonIcon {
  margin-right: 5px;
}
